
.h {
     text-shadow: 0 0 10px crimson;
    color: navy;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-left: 550px;
    margin-right:550px;
}





h1 {
    color: navy;
    text-shadow: 0 0 10px crimson;
}

p {
    font-weight: bold;
}

p {
    color:black;
    text-shadow:  0 1px 1px navy;
}

td {
    background-color: antiquewhite;
    font-weight: bold;
    color: brown;
    text-shadow: 0 0 2px; red;
}


